.FashionItem {
  display: flex;
  gap: 15px;
  justify-content: space-between;

  padding: 15px 0px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.FashionItem .img_section {
  min-width: 240px;
  height: 200px;

  display: flex;
  justify-content: center;
  cursor: pointer;

  border-radius: 5px;
}

.FashionItem .img_section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.FashionItem .info_section {
  flex: 1;
  cursor: pointer;
}

.FashionItem .info_section .created_date {
  font-weight: bold;
  font-size: 25px;
}

.FashionItem .info_section .content {
  font-size: 22px;
}

.FashionItem .button_section {
  min-width: 70px;
}
