.nav {
  position: fixed;
  bottom: 0;
  width: 600px;
  height: 20px;
  margin-left: -20px;
  z-index: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: -3px -0.5px 40px rgba(0, 0, 0, 0.15);
  background-color: #white;
  transition: background-color ease-in;
  overflow-y: auto;
  background-color: white;
}

.home {
  position: fixed;
  width: 35px;
  justify-content: center;
  cursor: pointer;
  margin-left: 80px;
  bottom: 18px;
}

.home_text {
  position: absolute;
  left: 113px;
  padding-top: 40px;
}

.fashion {
  position: fixed;
  width: 40px;
  justify-content: flex-start;
  cursor: pointer;
  margin-left: 220px;
  bottom: 18px;
}

.fashion_text {
  position: absolute;
  left: 253px;
  padding-top: 40px;
}

.weather {
  position: fixed;
  width: 40px;
  justify-content: flex-end;
  cursor: pointer;
  margin-left: 350px;
  bottom: 18px;
}

.weather_text {
  position: absolute;
  left: 380px;
  padding-top: 40px;
}

.my {
  position: fixed;
  width: 42px;
  justify-content: flex-end;
  cursor: pointer;
  margin-left: 480px;
  bottom: 18px;
}

.my_text {
  position: absolute;
  left: 503px;
  padding-top: 40px;
  cursor: pointer;
}
